{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_gimidashboard/content_title

    Example context (json):
    {
    }
}}

<div class="gimi-dashboard-header gimi-dashboard-header--{{scope_class}}"{{#header_style}} style="{{header_style}}"{{/header_style}}>
    <div class="gimi-dashboard-header-main d-flex justify-content-between align-items-start gap-3">
        <div style="width:100%">
            {{#title}}
                <h3 class="gimi-dashboard-header-title">{{{title}}}</h3>
            {{/title}}
            {{^title}}
                <h3 class="gimi-dashboard-header-title">{{{academyname}}}
                    {{#pluginname}}
                        <span class="gimi-dashboard-plugin-name">- {{{pluginname}}}</span>
                    {{/pluginname}}
                </h3>
            {{/title}}

            {{#subtitle}}
                <div class="gimi-dashboard-header-sub">{{{subtitle}}}</div>
            {{/subtitle}}
        </div>
        <div class="btn-group-vertical gap-2">
            {{{extra_html}}}
        </div>
    </div>
</div>
