<div class="gimidashboard-panel">
    <div class="gimidashboard-panel-header">{{title}}</div>

    <div class="gimidashboard-panel-body">
        <canvas id="{{chartid}}" class="gimidashboard-chart" height="120"></canvas>
        <script type="application/json" data-gimidashboard-chart="{{chartid}}">{{{chartjson}}}</script>
    </div>
</div>
