<div class="gimidashboard-topbar">
<!--    <a class="btn btn-primary gimidashboard-link" href="{{cohort_register_url}}">Simple enrolment</a>-->
    <a class="btn btn-primary gimidashboard-link" href="{{cohort_import_url}}" >Bulk import</a>
</div>