<div class="gimidashboard-topbar">
    <a class="btn btn-primary gimidashboard-link" href="{{simpleurl}}">Simple enrolment</a>
    <a class="btn btn-primary gimidashboard-link" href="{{importurl}}" >Bulk import</a>
</div>