<section class="card border-0 shadow-sm mb-4">
<!--    <div class="card-header bg-white border-0 pt-4 px-4">-->
<!--        <h5 class="mb-0">{{title}}</h5>-->
<!--    </div>-->
    <div class="card-body px-4 pb-4">
        {{{content}}}
    </div>
</section>
