<div class="gimidashboard-stats">
    {{#cards}}
        <div class="gimidashboard-stat-card">
            <div class="gimidashboard-stat-value">{{value}}</div>
            <div class="gimidashboard-stat-label">{{label}}</div>
        </div>
    {{/cards}}
</div>
